.footer-navigation {
  margin-bottom: 20px;
  background-color: $grey2;
}

.footer-navigation__list {
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-navigation__item {
  text-transform: uppercase;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-navigation__link {
  @include interactive;
}

@media(min-width: $desktop-width) {
  .footer-navigation {
    margin-bottom: 18px;
  }

  .footer-navigation__list {
    padding: 27px 0;
  }

  .footer-navigation__item {
    &:not(:last-child) {
      margin-right: 57px;
    }
  }
}