.form-block {
  margin-bottom: 50px;
  background-image: url(../img/bg/photos-bg.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.form-block__form {
  margin: 0 auto;
  padding: 5px;
  width: 90%;
  max-width: 466px;
  box-sizing: border-box;
  background-image: linear-gradient(90deg, rgb(226,32,40) 0%, rgb(249,180,22) 100% );
}

.form-block__container {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.form-block__header {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: normal;
  text-transform: uppercase;
}

.form-block__facebook-sign-up-btn {
  margin-bottom: 10px;
  padding: 8px 15px;
  width: 95%;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $blue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;

  @include interactive;
}

.form-block__facebook-icon {
  margin-right: 5px;
}

.form-block__sign-up-btn-text {
  color: white;
  text-transform: uppercase;
}

.form-block__separator {
  margin-bottom: 10px;
  width: 95%;
  max-width: 300px;
  text-align: center;
  color: $grey;
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  display: block;
  position: relative;

  &::before {
    content: '';
    width: 44%;
    max-width: 132px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 8px;
    background-color: $grey1;
  }

  &::after {
    content: '';
    width: 44%;
    max-width: 132px;
    height: 2px;
    position: absolute;
    right: 0;
    top: 8px;
    background-color: $grey1;
  }
}

.form-block__label {
  font-size: 0;
}

.form-block__input {
  margin-bottom: 10px;
  padding: 8px 15px;
  width: 95%;
  max-width: 300px;
  color: $purple1;
  outline: none;
  border-radius: 5px;
  border: 2px solid $grey1;
  box-sizing: border-box;

  &:focus {
    &::placeholder {
      color: $purple1;
    }
  }

  @include interactive;
}

.form-block__submit-btn {
  padding: 8px 15px;
  width: 95%;
  max-width: 300px;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: $purple1;
  outline: none;
  cursor: pointer;

  @include interactive;
}

@media(min-width: $desktop-width) {
  .form-block {
    margin-bottom: 159px;
    padding-top: 5px;
  }

  .form-block__form {
    padding: 8px;
  }

  .form-block__container {
    padding: 54px 30px 66px;
  }

  .form-block__header {
    margin-bottom: 34px;
    font-size: 38px;
  }

  .form-block__facebook-sign-up-btn {
    padding: 11px 15px 12px;
  }

  .form-block__facebook-icon {
    margin-left: 4px;
    margin-right: 12px;
  }

  .form-block__sign-up-btn-text {
    word-spacing: 3pt;
  }

  .form-block__separator {
    margin-bottom: 11px;
  }

  .form-block__input {
    margin-bottom: 11px;
    padding: 10px 10px;
  }

  .form-block__submit-btn {
    padding: 12px 15px;
  }
}