.page-footer__separator {
  margin: 0 auto 7px;
  max-width: 828px;
  background-color: $grey3;
}

.page-footer__copyright {
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
}

@media(min-width: $desktop-width) {
  .page-footer__copyright {
    letter-spacing: 0.3pt;
  }
}
