$red: #e22028;
$red1: #fe4a5d;
$red2: #e22028;
$red3: #e44254;
$red4: #cb1d24;
$orange: #ff6c00;
$orange1: #e56100;
$purple: #2f1946;
$purple1: #81398b;
$purple2: #67326e;
$purple3: #45124c;
$blue: #2f53a3;
$grey: #9a9a9a;
$grey1: #dcdcdc;
$grey2: #fafafa;
$grey3: #d3d3d3;
$green: #00cfae;

$tablet-width: 768px;
$desktop-width: 1200px;
$oversize: 1800px;